.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.header__img {
    margin-bottom: 20px;
}

.no__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;
}

.modal {
    width: 760px;
    height: 540px;
    background: white;
    display: flex;
    align-items: center;
    z-index: 10000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.modal__right {
    width: 50px;
    height: 50px;
    background: white;
    display: flex;
    align-items: center;
    z-index: 10000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    margin-top: -700px;
    transform: translate(250px);
}

.modal__tehn {
    width: 50px;
    height: 50px;
    background: #295DB5;
    display: flex;
    align-items: center;
    z-index: 10000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    margin-top: -700px;
    transform: translate(1300px);
}

.modals {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__image {
    width: 100%;
}
.modal__thens {
    width: 50px;
    height: 50px;
    background: white;
    display: flex;
    align-items: center;
    z-index: 10000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
}

.right__img {
    margin-top: 15px;
}

.right__img1 {
    margin-top: 15px;
}