body{
   margin: 0;
   padding: 0;
}
.container{
   max-width: 1240px;
   width: 100%;
   padding: 0px 10px;
   margin: 0px auto;
}
@media only screen and (max-width: 1280px) {
   .container{
      width: 94%;
   }
}