.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start;
    padding: 60px 0;
 }
 .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .hr1{
    width: 10%;
    background-color: #5D74C5;
 }
 .hr2{
    background-color: #5D74C5;
    width: 70%;
 }
 .h1{
    color: #5D74C5;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 40.8px;
    letter-spacing: -0.03em;
    text-align: left; 
    text-transform: uppercase;   
 }
 .left{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
 }
 .box{
    width: 249px;
    height: 327px;
    /* position: relative; */
    /* margin-bottom: 20px; */
 }
 .h3{
    /* position: absolute; */
    top: 20px;
    left: 13px;
    right: 13px;
    text-align: center;
    margin: 0;
    padding: 2px;
    font-family: Montserrat;
 font-size: 14.27px;
 font-weight: 500;
 line-height: 10.76px;
 text-align: left;
 color: #295db5;
 /* background-color: white; */
 }
 .p{
    font-family: DM Sans;
 font-size: 14.41px;
 font-weight: 400;
 line-height: 16.16px;
 text-align: left;
 color: black;
 /* position: absolute; */
 top: 250px;
 left: 22px;
 }