.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .hr1{
      width: 15%;
      background-color: #5D74C5;
   }
   .hr2{
      background-color: #5D74C5;
      width: 70%;
   }
   .h1{
      color: #5D74C5;
      font-family: Montserrat;
      font-size: 34px;
      font-weight: 700;
      line-height: 40.8px;
      letter-spacing: -0.03em;
      text-align: left; 
      text-transform: uppercase;   
   }
   .contentHead{
    text-align: left;
}
.contentHead__h1{
font-family: "Montserrat", sans-serif;
font-size: 34px;
font-weight: 700;
line-height: 40.8px;
letter-spacing: -0.03em;
text-align: left;
color: #8AA7F0;
}
.links{
    margin-top: -20px;
    margin-bottom: 100px;
}

.links__link{
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 14px;
text-align: left;
color: #295DB5;
text-decoration: none;
}
.links__p{
    font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 14px;
text-align: left;
color: #121212;
}
.buttons{
    margin-top: -120px;
    margin-bottom: 100px;
    text-align: center;
}
.buttons__button{
    border: 1px solid #3D7DA9;
    border-radius: 3px;
    color: #3D7DA9;
    background-color: white ;
    height: 36px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    margin-right: 20px;
}
.buttons__button_this{
    border: none;
    border-radius: 3px;
    background-color: #3D7DA9;
    color: white ;
    height: 36px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    margin-right: 20px;
}
  